{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="box p-5 shadow-lg rounded">
            <h3 class="heading text-center text-light ">Login</h3>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group mb-4 mt-5">
                        <input type="{{ field.field.widget.input_type }}"
                               class="form-control"
                               name="{{ field.name }}"
                               id="id_{{ field.name }}"
                               placeholder="{{ field.field.widget.attrs.placeholder }}">
                    </div>
                {% endfor %}
                <div class="text-center mt-5 ">
                    <button type="submit" class="btn btnlogin">
                        <i class="fa fa-sign-in"></i> Log in 
                    </button>
                </div>
            </form>
             <!-- Register Link -->
             <div class="text-center mt-3">
                <p class="mb-5 mt-5 text-light">Don't have an account?
                    <a href="{% url 'accounts:jobseeker-register' %}" class="text-light text-decoration-none">Jobseeker</a> | 
                    <a href="{% url 'accounts:recruiter-register' %}" class="text-light  text-decoration-none">Recruiter</a>
                </p>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}