{% extends 'base.html' %}
{% load static %}

{% block title %}
    Admin - Job Seekers List
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="heading">List of Job Seekers</h1>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box clearfix">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Jobseeker</th>
                                        <th>Username</th>
                                        <th>Address</th>
                                        <th>Email</th>
                                        <th>Applied Jobs</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for jobseeker in jobseekers %}
                                    <tr>
                                        <td>
                                        
                                            
                                            {% if jobseeker.profile.profile_picture %}
                                                <img src="{{ jobseeker.profile.profile_picture.url }}" alt="">
                                            {% else %}
                                                <img src="/media/jobseeker_profile_pictures/default.jpg" alt="">
                                            {% endif %}
                                         

                                            <a href="#" class="user-link">{{jobseeker.user.fullname}}</a>
                                            <span class="user-subhead">{{jobseeker.title}}</span>
                                        </td>
                                        <td>
                                            {{jobseeker.user.username}}
                                        </td>
                                        <td class="text-center">
                                            <span class="label label-default">{{jobseeker.address}}</span>
                                        </td>
                                        <td>
                                            <a href="#">{{jobseeker.user.email}}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'adminapp:applied-jobs' user_id=jobseeker.id%}">Applied Jobs</a>
                                        </td>
                                        
                                       
                                        <td style="width: 20%;">
                                            {% if jobseeker.user.id %}
                                                <a href="{% url 'adminapp:admin-jobseeker-profile-view' user_id=jobseeker.user.id %}" 
                                                class="table-link">
                                                    <button type="button" class="btn btn-sm" 
                                                    style="background-color: rgb(29, 29, 225); color: white;">View Profile</button>
                                                </a>
                                            {% else %}
                                                <p>User ID not available</p>
                                            {% endif %}
                                            <!-- <a href="{% url 'adminapp:admin-jobseeker-profile-view' user_id=jobseeker.user.id %}" class="table-link">
                                                <button type="button" class="btn btn-primary">View Profile</button>
                                            </a> -->
                                        </td>
                                       
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if is_paginated %}
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.previous_page_number }}"
                                    class="page-link">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&laquo;</a>
                                </li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link">{{ i }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}
    </section>
    
    
{% endblock %}
