{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <div id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
         class="modal fade" >
        <div role="document" class="modal-dialog" >
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="exampleModalLabel" class="modal-title">Customer Login</h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" ">
                    <form action="" method="post" >
                        <div class="form-group">
                            <input id="email_modal" type="text" placeholder="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input id="password_modal" type="password" placeholder="password" class="form-control">
                        </div>
                        <p class="text-center" >
                            <button type="button" class="btn btn-outline-white-primary"><i class="fa fa-sign-in"></i>
                                Log in
                            </button>
                        </p>
                    </form>
                    <p class="text-center text-muted">Not registered yet?</p>
                    <p class="text-center text-muted"><a href="client-register.html"><strong>Register now</strong></a>!
                        It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- *** LOGIN MODAL END ***-->
    <section class="job-form-section d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center justify-content-center ">
                <!-- Left: Search Form -->
                <div class="col-lg-8 ">
                    <div class="job-form-box mx-auto text-center ">
                        <h2 class="heading text-light">Find the most exciting jobs
                        </h2>
                        <form id="job-main-form" method="get" action="{% url 'jobs:searh' %}" class="job-main-form">
                            <div class="controls">
                                <div class="row d-flex align-items-center">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" id="profession" name="position"
                                                placeholder="Position" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" id="location" name="location"
                                                placeholder="Location" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <button type="submit" class="job-main-form__button">
                                            <i class="fa fa-search"></i> Search
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
   
    </section> 

    <section class="bg-light-gray" id="categories-section">
        <div class="container">
            <h3 class="heading">Browse Top Categories</h3>
            <div class="row featured align-items-stretch">
                {% for category in categories %}
                    <div class="col-md-3 mb-4">
                        <div class="card align-items-center text-decoration-none border-0 hover-lift-light py-4">
                            <div class="dropdown">
                                {% if category.icon_image %}
                                    <img src="{{ category.icon_image.url }}" alt="{{ category.category }}" width="80" height="80" class="icon-circle icon-circle-lg bg-pastel-primary text-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                                {% else %}
                                    <img src="{% static 'img/default_job.jpg' %}" alt="{{ category.category }}" width="80" height="80" class="icon-circle icon-circle-lg bg-pastel-primary text-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
                                {% endif %}
                            </div>
                            <span class="text-dark mt-3">
                                {{ category.category }}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- "More" Button -->
            <div class="text-center mt-4">
                <a href="{% url 'adminapp:add-category' %}" class="btn btn-primary text-decoration-none">Browse All Categories</a>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="feature-container">
            <div class="feature">
                <i class="fas fa-file-alt"></i> <!-- Icon -->
                <h3>Search Millions of Jobs</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
            </div>
            <div class="feature">
                <i class="fas fa-users-cog"></i> <!-- Icon -->
                <h3>Easy To Manage Jobs</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
            </div>
            <div class="feature">
                <i class="fas fa-briefcase"></i> <!-- Icon -->
                <h3>Top Careers</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
            </div>
            <div class="feature">
                <i class="fas fa-user-tie"></i> <!-- Icon -->
                <h3>Search Expert Candidates</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h3 class="heading">Trending this month</h3>
            {% for trending in trendings %}
                <div class="job-listing  job-listing--last">
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="row">
                                <div class="col-2">
                                    <img src="{% static 'img/icon.jpg' %}"
                                         alt="ShareBoardd " class="img-fluid">
                                </div>
                                <div class="col-10">
                                    <h4 class="job__title">
                                        <a href="{% url 'jobs:jobs-detail' trending.id %}">{{ trending.title }}</a>
                                    </h4>
                                    <p class="job__company">
                                        {{ trending.company_name }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-10 col-md-3 col-lg-2 ml-auto"><i class="fa fa-map-marker job__location"></i>
                            {{ trending.location }}
                        </div>
                        <div class="col-10 col-md-3 col-lg-3 ml-auto">
                            <p>Posted {{ trending.posted_at|timesince }}</p>
                        </div>
                        <!-- <div class="col-sm-12 col-md-2 col-lg-1">
                            <div class="job__star">
                                <a href="#" data-toggle="tooltip" data-placement="top"
                                   title="Save to favourites" class="job__star__link">
                                    <i class="fa fa-star"></i>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="gradient-custom">
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
            <div class="col-md-12">
                <div class="text-center mb-4 pb-2">
                <i class="fas fa-quote-left fa-3x text-white"></i>
                </div>

                <div class="card">
                <div class="card-body px-4 py-5">
                    <!-- Carousel wrapper -->
                    <div id="carouselDarkVariant" data-mdb-carousel-init class="carousel slide carousel-dark" data-mdb-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators mb-0">
                        <button data-mdb-button-init data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                        <button data-mdb-button-init data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="1"
                        aria-label="Slide 1"></button>
                        <button data-mdb-button-init data-mdb-target="#carouselDarkVariant" data-mdb-slide-to="2"
                        aria-label="Slide 1"></button>
                    </div>

                    <!-- Inner -->
                    <div class="carousel-inner pb-5">
                        <!-- Single item -->
                        <div class="carousel-item active">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-10 col-xl-8">
                            <div class="row">
                                <div class="col-lg-4 d-flex justify-content-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                                    class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                                    height="150" />
                                </div>
                                <div
                                class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                                <h4 class="mb-4">Maria Smantha - Web Developer</h4>
                                <p class="mb-0 pb-3">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                                    aliquam amet animi blanditiis consequatur debitis dicta
                                    distinctio, enim error eum iste libero modi nam natus
                                    perferendis possimus quasi sint sit tempora voluptatem. Est,
                                    exercitationem id ipsa ipsum laboriosam perferendis.
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>

                        <!-- Single item -->
                        <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-10 col-xl-8">
                            <div class="row">
                                <div class="col-lg-4 d-flex justify-content-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                                    class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                                    height="150" />
                                </div>
                                <div
                                class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                                <h4 class="mb-4">Lisa Cudrow - Graphic Designer</h4>
                                <p class="mb-0 pb-3">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque
                                    ipsa quae ab illo inventore veritatis et quasi architecto
                                    beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                                    quia voluptas sit aspernatur.
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>

                        <!-- Single item -->
                        <div class="carousel-item">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-10 col-xl-8">
                            <div class="row">
                                <div class="col-lg-4 d-flex justify-content-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                                    class="rounded-circle shadow-1 mb-4 mb-lg-0" alt="woman avatar" width="150"
                                    height="150" />
                                </div>
                                <div
                                class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                                <h4 class="mb-4">John Smith - Marketing Specialist</h4>
                                <p class="mb-0 pb-3">
                                    At vero eos et accusamus et iusto odio dignissimos qui
                                    blanditiis praesentium voluptatum deleniti atque corrupti quos
                                    dolores et quas molestias excepturi sint occaecati cupiditate
                                    non provident, similique sunt in culpa qui officia mollitia
                                    animi id laborum et dolorum fuga.
                                </p>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- Inner -->

                    <!-- Controls -->
                    <button data-mdb-button-init class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant"
                        data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button data-mdb-button-init class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant"
                        data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>
                    <!-- Carousel wrapper -->
                </div>
                </div>

                <div class="text-center mt-4 pt-2">
                <i class="fas fa-quote-right fa-3x text-white"></i>
                </div>
            </div>
            </div>
        </div>
    </section>
    <section class="blog-section ">
        <h3 class="heading">Latest Blogs</h3>
        <div class="blog-container">
            {% for blog in blogs %}
            <a href="{{ blog.link }}" class="blog-card-link text" target="_blank">
                <div class="blog-card">
                    <img src="{{ blog.image }}" alt="Blog Image">
                    <p class="blog-meta">By Naukri</p>
                    <h3 class="blog-heading">{{ blog.title }}</h3>
                    <p class="blog-desc">{{ blog.desc }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

    

{% endblock %}