{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}
    Jobseeker-Applied Jobs
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block content %}
    <section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="heading">Applied Jobs</h1>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                {% for application in applied_jobs %}
                <div class="col-lg-6">
                    <div class="box applicant">
                        <h4>Job Title: {{ application.job_listing.title }}<br></h4>
                        <h5>Last date: {{ application.job_listing.application_deadline|date }}</h5>
                        <h5 class="text-info">Salary: {{ application.job_listing.salary_range }}</h5>
                        <blockquote class="blockquote">
                           <p>{{ application.job_listing.description }}</p>
                        </blockquote>
                        <p>
                            <span class="badge badge-info">Applied {{ application.applied_at|date:"F j, Y P" }}</span>
                            {% if application.status == 'Accepted' %}
                                    <span class="badge badge-success">Accepted</span>
                                {% elif application.status == 'Rejected' %}
                                    <span class="badge badge-danger">Rejected</span>
                                {% else %}
                                    <span class="badge badge-warning">Pending</span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
            
                
            </div>
        </div>
    </section>
{% endblock %} 
