{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}
    Jobseeker-Applied Jobs
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
{% endblock %}

{% block content %}
    <section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="heading">Applied Jobs</h1>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if applied_jobs %}
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Job Title</th>
                                    <th>Applied date</th>
                                    <th>Application Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for application in applied_jobs %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'jobs:jobs-detail' application.job_listing.id %}">
                                                {{ application.job_listing.title }}

                                            </a>
                                        </td>
                                        <td>{{ application.applied_at|date:"F j, Y P" }}</td>
                                        <td>
                                            {% if application.status == 'Accepted' %}
                                                <span class="badge badge-success">Accepted</span>
                                            {% elif application.status == 'Rejected' %}
                                                <span class="badge badge-danger">Rejected</span>
                                            {% else %}
                                                <span class="badge badge-warning">Pending</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No applied jobs at the moment.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.previous_page_number }}"
                                           class="page-link">&laquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link">&laquo;</a>
                                    </li>
                                {% endif %}
                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active">
                                            <a class="page-link">{{ i }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link">&raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
    </section>
{% endblock %} 
